# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea\
mvnw*
*\test\
*.iml
/.mvn/*
/spring-cloud-client-sleuth-trace-a/.mvn/wrapper/MavenWrapperDownloader.java
/.project
/spring-cloud-web/.gitignore
/spring-cloud-web/.mvn/wrapper/maven-wrapper.jar
/spring-cloud-web/.mvn/wrapper/maven-wrapper.jar
/spring-cloud-web/.mvn/wrapper/maven-wrapper.properties
